<div class="hero-unit">
    <h2>Populate Quote</h2>
    <!--<pre>{{ quoteGenders | json }}</pre>-->
    <h3>Drivers <input type="button" class="btn btn-default" value="Add Another Driver"/></h3>
    <!-- drivers -->
    <div class="well">
        <h4><input style="color: brown; border-color: brown;" type="button" class="btn btn-default" value="Remove Drive"/> Driver #0</h4>
        <form role="form">
            <!-- first name -->
            <div class="form-group">
                <label for="exampleInputEmail1">First Name (Optional)</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
            </div>
            <!-- last name -->
            <div class="form-group">
                <label for="exampleInputEmail1">Last Name (Optional)</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
            </div>
            <!-- gender -->
            <div class="form-group">
                <label for="exampleInputFile">Gender</label>
                <select class="form-control"
                        ng-model="ctrl.genderSelected"
                        ng-options="option.name for option in quoteGenders">
                  <option value="">- select -</option>
                </select>
            </div>
            <!-- marital status -->
            <div class="form-group">
                <label for="exampleInputFile">Marital Status</label>
                <!--<pre>{{ quoteMaritalStatuses | json }}</pre>-->
                <select class="form-control"
                        ng-model="ctrl.maritalStatusSelected"
                        ng-options="option.name for option in quoteMaritalStatuses">
                  <option value="">- select -</option>
                </select>
            </div>
            <!-- What is this driver's employment status? -->
            <div class="form-group">
                <label for="exampleInputFile">What is this driver's employment status?</label>
                <!--<pre>{{ quoteDriverOcupations | json }}</pre>-->
                <select class="form-control"
                        ng-model="ctrl.driverOcupationSelected"
                        ng-options="option.name for option in quoteDriverOcupations">
                  <option value="">- select -</option>
                </select>
            </div>
            <h3>Incidents</h3>
            <div class="well">
                <div class="form-group">
                    <label for="exampleInputFile">Incident Type</label>
                    <!--<pre>{{ quoteIncidentKinds | json }}</pre>-->
                    <pre>todo: add behaviour to add or delete incidents dinamically</pre>
                    <select class="form-control"
                            ng-model="ctrl.incidentKindsSelected"
                            ng-options="option.name for option in quoteIncidentKinds">
                      <option value="">- select -</option>
                    </select>
                </div>
            </div>

        </form>
    </div>
    <!-- vehicles -->
    <div>
        <h3>Vehicles <input type="button" class="btn btn-default" value="Add Another Vehicle"/></h3>
        <div class="well">
            <h4>
                Vehicle #0
                <input style="color: brown; border-color: brown;"  type="button" class="btn btn-default" value="Remove Vehicle"/>
            </h4>
            <!-- year -->
            <div class="form-group">
                <label for="exampleInputFile">Year</label>
                <!--<pre>{{ quoteVehicleYears | json }}</pre>-->
                <select class="form-control"
                        ng-model="ctrl.vehicleYearSelected"
                        ng-options="option.name for option in quoteVehicleYears">
                  <option value="">- select -</option>
                </select>
            </div>
            <!-- make -->
            <div class="form-group">
                <label for="exampleInputFile">Make</label>
                <!--<pre>{{ quoteVehicles | json }}</pre>-->
                <select class="form-control"
                        ng-model="ctrl.vehiclesSelected"
                        ng-options="option.name for option in quoteVehicles">
                  <option value="">- select -</option>
                </select>
            </div>
        </div>
    </div>
</div>
