<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li class="active"><a ng-href="#">Home</a></li>
      <li><a ng-href="#/web/about">About</a></li>
    </ul>
    <h3 class="text-muted">citas-incidentes</h3>
  </div>
  <!--<div ng-include="'views/web/nav.html'"></div>-->
  <div ng-view=""></div>
  <div class="footer">
    <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
  </div>
</div>
